<div class="contenedor">


<div class="swiper mySwiper">
    <div class="swiper-wrapper">

        <div class="swiper-slide card" style="background-image:url(assets/img/Consulta.webp)">
           

 
  <div class="card__content">
    <p class="card__title">Consulta</p>
    <p class="card__description">¿Problemas con tu equipo? Solicita tu diagnóstico 100% gratuito en línea. Te ayudamos a encontrar la solución sin compromiso.</p>
    <button [routerLink]="['/info','Consulta']" routerLinkActive="router-link-active"  class="btn-saber">Saber mas...</button>
    <div class="degradado"></div>
  </div>


        </div>
        <div class="swiper-slide card" style="background-image:url(assets/img/Reparacion.webp)">
          
               
                <div class="card__content">
                    <div class="degradado"></div>
                  <p class="card__title">Reparacion</p>
                  <p class="card__description">Diagnóstico y reparación profesional para dispositivos dañados o lentos. Solicita una cita o contactanos por redes.</p>
                  <button class="btn-saber" [routerLink]="['/info','Reparacion']" routerLinkActive="router-link-active" >Saber mas...</button>
                  <div class="degradado"></div>
                </div>
             
        </div>
        <div class="swiper-slide card" style="background-image:url(assets/img/Mantenimiento.webp)">
            
               
                <div class="card__content">
                  <p class="card__title">Mantenimiento</p>
                  <p class="card__description">Evita fallas antes de que ocurran. Revisamos tu dispositivo, optimizamos rendimiento y prolongamos su vida útil.</p>
                  <button class="btn-saber" [routerLink]="['/info','Mantenimiento']" routerLinkActive="router-link-active" >Saber mas...</button>
                  <div class="degradado"></div>
                </div>
              
        </div>

        <div class="swiper-slide card" style="background-image:url(assets/img/Utilidades.webp)">
            
            
            <div class="card__content">
              <p class="card__title">Utilidades</p>
              <p class="card__description">Actualizamos y configuramos software esenciales. Mejora rendimiento, compatibilidad y estabilidad con nuestra ayuda técnica.</p>
              <button class="btn-saber" [routerLink]="['/info','Utilidades']" routerLinkActive="router-link-active" >Saber mas...</button>
              <div class="degradado"></div>
            </div>
          
    </div>

    </div>



</div>

</div>

