
<header class="header active" data-header>
  <nav class="navbar container">
    <img class="imagenbrand" style="width: 2rem;" src="assets/svg/iconbrand-2.svg" alt="Brand">
    <a href="#" class="brand">DevsBazaar</a>
    <div class="burger" id="burger">
       <span class="burger-line"></span>
       <span class="burger-line"></span>
       <span class="burger-line"></span>
    </div>
    <div class="menu" id="menu">
       <ul class="menu-inner">
          <li class="menu-item"><a href="#" class="menu-link">Negocios</a></li>
          <li class="menu-item"><a [routerLink]="['/tienda']" routerLinkActive="router-link-active"  class="menu-link">Tienda</a></li>
          <li class="menu-item"><a href="#" class="menu-link">Servicios</a></li>
          <li class="menu-item"><a [routerLink]="['/info','Consulta']" routerLinkActive="router-link-active"  class="menu-link">Consulta gratis</a></li>
          <li class="menu-item"><a href="#" class="menu-link">Contacto</a></li>
       </ul>
    </div>
    <a [routerLink]="['/login']" routerLinkActive="router-link-active" class="menu-block">Unirse</a>
 </nav>
</header>
  <!--===== HOME =====-->
 <section class="sectionhero">
  <app-hero></app-hero>
 </section>
 
 

  <!--===== ABOUT =====-->
  <section class="section" id="about">
    
    <h2 class="section-title " >Lo que ofrecemos</h2>
    <p class="interesante">Status</p>
    <div class="contenido" >
      <app-ventajas></app-ventajas>
    </div>
   
   
  </section>

  <!--===== SKILLS =====-->


  <!--===== WORK =====-->
  <section class="section" id="work">
    <h2 class="section-title" >Servicios</h2>
    <p class="interesante">Valor</p>
    <div class="contenido" >
    <app-proyectosh></app-proyectosh>
  </div>
  </section>

  <section class="section" id="work">
    <h2 class="section-title" >Productos</h2>
    <p class="interesante">Valor</p>
    <div class="contenido" >
     <app-proyectos></app-proyectos>
    </div>
  </section>


  <section class="section" id="work">
    <h2 class="section-title" >Servicios</h2>
    <p class="interesante">Valor</p>
    <div class="contenido" >
    <app-precio></app-precio>
    </div>
  </section>

  <section class="section" id="app">
    <p class="interesante">Dev</p>
    <div class="contenido" >
    <app-aplication></app-aplication>
    </div>
  </section>

 

  <footer >
    <div class="content" >
      <div class="top">
        <div class="logo-details">
          <i class="fab fa-slack"></i>
          <span class="logo_name">Encuentranos</span>
        </div>
        <div class="media-icons">
          <a class="arr" href="#"><i class='bx bxl-facebook skills__icon'></i></a>
          <a class="arr" href="#"><i class='bx bxl-twitter skills__icon'></i></a>
          <a class="arr" href="#"><i class='bx bxl-instagram-alt skills__icon'></i></a>
          <a class="arr" href="#"><i class='bx bxl-linkedin skills__icon' ></i></a>
          <a class="arr" href="#"><i class='bx bxl-youtube skills__icon' ></i></a>
        </div>
      </div>
      <div class="link-boxes">
        <ul class="box">
          <li class="link_name">Direccion</li>
          <li><a href="#">La Habana, Cuba</a></li>
          <li><a href="#">10 de Octubre, Luyano</a></li>
        </ul>
        <ul class="box">
          <li class="link_name">Horarios</li>
          <li><a href="#">LUNES A VIERNES : 9:00AM - 8:00PM</a></li>
          <li><a href="#">SABADO Y DOMINGO : 11:00AM - 7:00PM</a></li>
        </ul>
       
        <ul class="box">
          <li class="link_name">Otros servicios</li>
          <li><a href="#">Desbloqueo de celulares</a></li>
          <li><a href="#">Desbloqueo de contraseñas</a></li>
          <li><a href="#">Marketing</a></li>
          <li><a href="#">Ciber Seguridad</a></li>
        </ul>
        <ul class="box input-box">
        
          <div class="cards">
                  <div class="imgBox">
                      <svg viewBox="0 0 16 16" class="bi bi-person-circle" fill="currentColor" height="16" width="16" xmlns="http://www.w3.org/2000/svg">
                          <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0z"></path>
                          <path d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8zm8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1z" fill-rule="evenodd"></path>
                      </svg>
                  </div>
                  <div class="name">
                      <p class="p1">Nosotros</p>
                      <p class="p2">LLama ya</p>
                  </div>
                  <div class="caller">
                      <span id="pick" class="callerBtn">
                          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-telephone-fill" viewBox="0 0 16 16">
                              <path fill-rule="evenodd" d="M1.885.511a1.745 1.745 0 0 1 2.61.163L6.29 2.98c.329.423.445.974.315 1.494l-.547 2.19a.678.678 0 0 0 .178.643l2.457 2.457a.678.678 0 0 0 .644.178l2.189-.547a1.745 1.745 0 0 1 1.494.315l2.306 1.794c.829.645.905 1.87.163 2.611l-1.034 1.034c-.74.74-1.846 1.065-2.877.702a18.634 18.634 0 0 1-7.01-4.42 18.634 18.634 0 0 1-4.42-7.009c-.362-1.03-.037-2.137.703-2.877L1.885.511z"></path>
                          </svg>
                      </span>
                      </div>
              </div>
          
        </ul>
      </div>
    </div>
    <div class="bottom-details">
      <div class="bottom_text">
        <span class="copyright_text">Copyright © 2025 <a href="#">DevBazaar </a>All rights reserved</span>
        <span class="policy_terms">
          <a href="#">Privacy policy</a>
          <a href="#">Terms & condition</a>
        </span>
      </div>
    </div>
  </footer>
    