

<!-- Hero -->
 <div class="carousel">
    <!-- list item -->
    
        <div class="item">
       
          <div class="container banner-column">
                
                <img class="banner-image" src="/assets/images/r1.jfif" alt="banner">
               
            
            <div class="banner-inner">
               <h1 class="heading-xl title">"Bienvenido a <br><span class="topic">DevsBazaar </span>"</h1>
               <p class="paragraph des">
                  Brindamos la mayoria de los servicios informaticos
               </p>
               <button class="btn btn-darken btn-inline buttons">
                  Contactanos<i class="bx bx-right-arrow-alt"></i>
               </button>
            </div>
            <div class="des banner-links ">
               <a href="#" title=""><i class="bx bxl-facebook"></i></a>
               <a href="#" title=""><i class="bx bxl-instagram"></i></a>
               <a href="#" title=""><i class="bx bxl-linkedin"></i></a>
               <a href="#" title=""><i class="bx bxl-youtube"></i></a>
            </div>
         </div>
        </div>
     


  <!-- <div class="degradado">

  </div> -->

  <img class="mouse-move" src="https://github.com/ecemgo/mini-samples-great-tricks/assets/13468728/28313e5d-95f1-4e38-ac49-16b4cf006014" alt="" />