<div class="contenedor">
   
<div  class="card ">
  <div class="main-content">
<p class="heading">Consulta</p>
<p class="heading2">y defectacion gratis</p>
<div class="texto">
    <p>¿Tu sistema no está rindiendo como debería? Puede mandar su ticket desde la comodidad de su casa o hacer una cita para identificar fallos críticos, cuellos de botella y oportunidades de optimización.</p>
</div>
  </div>
</div>

<div class="card">
  <div class="main-content">
<p class="heading">Reparacion</p>
<p class="heading2">servicios de software y hardware</p>
<div class="texto">
    <p>¿Un fallo imprevisto detuvo tu flujo de trabajo? Nos encargamos de reparar sistemas, componentes y configuraciones críticas con precisión y rapidez.</p>
</div>
  </div>
</div>

<div class="card" > 
  <div class="main-content">
<p class="heading">Desarrollo</p>
<p class="heading2">desarrollo de software a la medida</p>
<div class="texto">
    <p>Transforma tus ideas en soluciones digitales que impulsan resultados. Creamos aplicaciones eficientes, escalables y seguras adaptadas a tus necesidades específicas.</p>
</div>
  </div>
</div>

</div>