<div class="contenedor">


<div class="swiper mySwiper">
    <div class="swiper-wrapper">

        <div class="swiper-slide card" style="background-image:url(assets/images/e4.jfif)">
           

 
  <div class="card__content">
    <p class="card__title">E-Commerce</p>
    <p class="card__description">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco.</p>
    <div class="degradado"></div>
  </div>


        </div>
        <div class="swiper-slide card" style="background-image:url(assets/images/c1.jfif)">
          
               
                <div class="card__content">
                    <div class="degradado"></div>
                  <p class="card__title">Catalogo</p>
                  <p class="card__description">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco.</p>
                  <div class="degradado"></div>
                </div>
             
        </div>
        <div class="swiper-slide card" style="background-image:url(assets/images/r1.jfif)">
            
               
                <div class="card__content">
                  <p class="card__title">Reservacion</p>
                  <p class="card__description">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco.</p>
                  <div class="degradado"></div>
                </div>
              
        </div>

        <div class="swiper-slide card" style="background-image:url(assets/images/u2.jfif)">
            
            
            <div class="card__content">
              <p class="card__title">Uber</p>
              <p class="card__description">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco.</p>
              <div class="degradado"></div>
            </div>
          
    </div>

    </div>



</div>

</div>
