<div class="contenedor">


<div class="swiper mySwiper">
    <div class="swiper-wrapper">

        <div class="swiper-slide card" style="background-image:url(assets/img/e4.webp)">
           

 
  <div class="card__content">
    <p class="card__title">E-Commerce</p>
    <p class="card__description">Tu tienda online, optimizada para crecer Potencia tu negocio con nuestro sistema e-commerce rápido, seguro y personalizable.</p>
    <button [routerLink]="['/info','Ecommerce']" routerLinkActive="router-link-active" class="btn-saber">Saber mas...</button>
    <div class="degradado"></div>
  </div>


        </div>
        <div class="swiper-slide card" style="background-image:url(assets/img/c1.webp)">
          
               
                <div class="card__content">
                    <div class="degradado"></div>
                  <p class="card__title">Catalogo</p>
                  <p class="card__description">Administra categorías, descripciones, precios e inventario desde un solo lugar. Control total y presentación profesional, listo para integrarse a tu e-commerce.</p>
                  <button [routerLink]="['/info','Catalogo']" class="btn-saber">Saber mas...</button>
                  <div class="degradado"></div>
                </div>
             
        </div>
        <div class="swiper-slide card" style="background-image:url(assets/img/r1.webp)">
            
               
                <div class="card__content">
                  <p class="card__title">Reservacion</p>
                  <p class="card__description">Organiza tus citas sin complicaciones con nuestra solución de reservación online. Configura horarios, confirma solicitudes y automatiza recordatorios.</p>
                  <button [routerLink]="['/info','Reservacion']" class="btn-saber">Saber mas...</button>
                  <div class="degradado"></div>
                </div>
              
        </div>

        <div class="swiper-slide card" style="background-image:url(assets/img/u2.webp)">
            
            
            <div class="card__content">
              <p class="card__title">A la Medida</p>
              <p class="card__description">Software hecho para ti Desarrollamos soluciones a medida que se adaptan perfectamente a tu negocio, flujo de trabajo y objetivos. Tú imaginas, nosotros lo construimos.</p>
              <button [routerLink]="['/info','Personalizado']" class="btn-saber">Saber mas...</button>
              <div class="degradado"></div>
            </div>
          
    </div>

    </div>



</div>

</div>
