<div class="contenedor">
    <div class="left">
        <div class="content">
            <div class="titulo">
                Descarga nuestra app para conseguir regalos
            </div>
            <div class="subtitulo">
                Hasta un 20% de descuentos.
            </div>
        </div>
        <div class="boton">
            <a href="">Descargar Ahora</a>
        </div>

    </div>
    <div class="right">
      
        <div class="card">
          
          <div class="btn1"></div>
          <div class="btn2"></div>
          <div class="btn3"></div>
          <div class="btn4"></div>
          <div class="card-int">
            <div class="hello">Vamos
              <span class="hidden">Animate</span>
            </div>
          </div>
          <div class="top">
            <div class="camera">
              <div class="int"></div>
            </div>
            <div class="speaker"></div>
          </div>
        </div>
    </div>
</div>
