.skills__icon {
    font-size: 2rem;
    margin-right: 1rem;
    color: #e2e2e2;
  }

  .container{
    margin-top: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 100px;
    padding: 25px;
    color: #e2e2e2;
    flex-wrap: wrap;

  }

  .tarjeta{
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 15rem;
  }
  .titulo{
    font-size: 25px;
    font-weight:500;
  }
  .texto{
    color: #e2e2e2a9;
  }